body{
  background-color: #eeeeee;
  height: 100%;
  padding-bottom: 20%;
}

.navbar-brand img{
  width: 350px;
}

.navbar-nav a{
  margin: 0 1em;
  border-bottom: 2px solid transparent;  
}

.navbar-nav a:hover{
  border-bottom: 2px solid #FF9033;
}

.navbar-nav .active{
  border-bottom: 2px solid #FF9033 !important;
}

h1, h2, h3, h4, h5, h6{
  color: #144779;
}

.header{
  color: #144779;
  margin: 1em 0;
}

.img{
  width: 100%;
}

.imageHome{
  height: 200px;
}

.navbar{
  background: #ffffff;
}

.imageHeaderCaption{
  text-align: center;
  color: #144779;
  border-bottom: 2px solid transparent;
}

.colClick{
  cursor: pointer;
}

.colClick:hover .imageHeaderCaption, .active .imageHeaderCaption{
  border-bottom: 2px solid #FF9033 !important;
}

.spinner{
  text-align: center;
  margin: 3em 0;
}